/* main_banner */
.main_station{
    /* background: url('../img/main_bg.png') no-repeat center center / cover; */
    position: relative;
    & video{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        /* height: 100%; */
        transform: translate(-50%, -50%);
        /* object-fit: cover; */
        z-index: -1;
    }
    & .cover{
        background: rgba(77, 77, 77, 0.4);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        & .content_inner{
            font-size: 5.6rem;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: #fff;
            & .blue_line::before{
                background: rgba(0, 64, 130, 0.7);
            }
            & p{font-size: 3rem ;font-weight: 700;}
        }
    }
    & .scroll_down{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 2rem;
        animation: scroll_down 1.5s infinite;

        transform-box: fill-box;
        transform-origin: center;
        & .arrow{
            width: 20px;
            aspect-ratio: 1/1;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            transform: rotate(45deg);
        }
    }
}

@keyframes scroll_down {
    to{
        transform: translate(-50%, 20px);
    }
    
}
/* sec1 */

.s1_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    & li{
        box-shadow: 0px 0px 10px rgba(0, 64, 151, 0.3);
        border-radius: 1.8rem;
        & a{
            padding: 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .liwrap{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                & .more{
                    width: 3.6rem;
                    transition: .3s;
                    line-height: 0;
                }
                & .picto_wrap{
                    width: 130px;
                    height: 107px;
                    & img{width: 100%;height: 100%;object-fit: contain;}
                }
            }
        }
        & :hover .more{
            transform: rotate(180deg);
            transform-box: fill-box;
            transform-origin: center;
        }
    }
    & li:active{background: rgba(0, 64, 151, 0.05);transform: scale(1.05);}
}
/* sec2  */
.s2_box{
    background: #EBF6FC;
    border-radius: 2.8rem;
    padding: 5rem;
    & a{
        background: url('../img/s2_bg.png') no-repeat right  bottom / contain;
        display: block;
        width: 100%;
        height: 100%;
        & .more{
            display: flex;
            gap: 2rem;
            align-items: center;
            font-size: 2rem;
            color: #004097;
            font-weight: 800;
            & img {
                width: 36px; transition: .3s;}
            }
        }
        & :hover .more img{
            transform: rotate(180deg);
            transform-box: fill-box;
            transform-origin: center;
    }
}
& .s2_box:active{background: rgba(0, 64, 151, 0.05);transform: scale(1.05);}
/* sec3  */
.sec3{
    background: rgba(204, 204, 204, 0.1);
    & .s3_wrap{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        & .left_deco{
            max-width: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .more{
                display: flex;
                gap: 2rem;
                align-items: center;
                font-size: 2rem;
                color: #004097;
                font-weight: 800;
                & img {
                    width: 36px; transition: .3s;
                }
            }
            & .more:hover img{
                transform: rotate(180deg);
                transform-box: fill-box;
                transform-origin: center;
            }
        }
        & ul{
            max-width: 900px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            & li {
                
                border: 2px solid #004097;
                border-radius: 1.8rem;
                overflow: hidden;
                & img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
/* sec4 */
.sec4{
    background: #EBF6FC;
}
.sec4 .content_inner{
    background: url('../img/s4_bg.png') no-repeat right bottom 140px / 22% ;
}
.sec4 .vedio_wrap{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 2.8rem;
    overflow: hidden;
}
.sec4 iframe{
    object-fit: cover;
}
.sec4 .station{
    width: 100%;
    aspect-ratio: 16/9;
    line-height: 0;
    position: relative;
    overflow: hidden;
    /* max-width: 800px; */
    flex: 3;
    
}
.sec4 .station>*.on{pointer-events:auto;opacity: 1;}
.sec4 .station>*{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.sec4 .pagenation{
    flex: 1;
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sec4 .pagenation li.on{
    background: linear-gradient(to right, #2CA6E0, #004097);
    color: #fff;
}
.sec4 .pagenation li{
    /* flex-shrink: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #004097;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 1rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .5s;
}
.sec4 .vedio_wrap{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 2.8rem;
    overflow: hidden;
    max-width: 100%;
}
.sec4 iframe{
    object-fit: cover;
}
.sec4 .s4_wrap{display: flex;width: 100%;gap: 2rem;}
.sec4 .ready{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}


/* 반응형 */


@media (min-width:0px) and (max-width:1920px){
    .main_station{
        & video{
            width: auto;
            height: 100%;
        }
    }
}
@media (min-width:0px) and (max-width:1280px){

    .main_station{
        & .cover{
            & .content_inner{
                font-size: 4.5rem;
                gap: 2rem;
                & .blue_line::before{
                    background: rgba(0, 64, 130, 0.7);
                }
                & p{font-size: 2rem ;}
            }
        }
        & .scroll_down{
            & p{font-size: 1.5rem;}
            & .arrow{
                width: 15px;
            }
        }
    }

    .s2_box{
        padding: 3rem;
    }
    
    .sec4 {
        & .content_inner {
            background: url(../img/s4_bg.png) no-repeat right bottom 100px / 20%;
        }
    }

}
@media (min-width:0px) and (max-width:900px){
    .main_station{
        & .cover{
            & .content_inner{
                text-align: center;
                font-size: 3.2rem;
                gap: 1rem;
                & .blue_line::before{
                    background: rgba(0, 64, 130, 0.7);
                }
                & p{font-size: 1.8rem ;}
            }
        }
        & .scroll_down{
            & p{font-size: 1.5rem;}
            & .arrow{
                width: 15px;
            }
        }
    }
    .s1_wrap{
        gap: 2rem;
        & li{
            & a{
                padding: 1.5rem;
                & .liwrap{
                    & .more{
                        width: 2.5rem;
                    }
                    & .picto_wrap{
                        width: 80px;
                        height: 60px;
                        & img{width: 100%;height: 100%;object-fit: contain;}
                    }
                }
            }
            & :hover .more{
                transform: rotate(180deg);
                transform-box: fill-box;
                transform-origin: center;
            }
        }
        & li:active{background: rgba(0, 64, 151, 0.05);transform: scale(1.05);}
    }
    .s2_box{
        border-radius: 1.8rem;
        padding: 2.5rem;
        & a{
            background: url('../img/s2_bg.png') no-repeat right  bottom / 40%;
            & .more{
                gap: 1rem;
                font-size: 1.7rem;
                & img {
                    width: 25px; 
                }
                }
            }
    }

    .sec3{
        & .s3_wrap{
            flex-direction: column-reverse;
            gap: 2rem;
            & .left_deco{
                max-width: 100%;
                flex-direction: row;
                /* justify-content: flex-end; */
                & .logo_bg{display: none;}
                & .more{
                    gap: 1rem;
                    font-size: 1.7rem;
                    & img {
                        width: 25px;;
                    }
                }
            }
            & ul{
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                & li {
                    border: 2px solid #004097;
                    border-radius: 1.8rem;
                }
            }
        }
    }
    .sec4 .s4_wrap {
        flex-direction: column;
    }
    .sec4 .pagenation {
        flex-direction: row;
        max-width: 100%;
        gap: 1rem;
    }
    .sec4 .pagenation li{
        width: 100%;
    }
}

@media (min-width:0px) and (max-width:500px){
    .main_station{
        overflow: hidden;
        /* & video{
            max-height: 600px;
            transform: translateX(-50%);
        } */
        & .cover{
            & .content_inner{
                font-size: 3rem;
                & span{display: block;}
                & p{font-size: 1.6rem ;}
            }
        }
        & .scroll_down{
            & p{font-size: 1.2rem;}
            & .arrow{
                width: 12px;
            }
        }
    }

    .s1_wrap{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        & li{
            border-radius: 1.8rem;
            & a{
                padding: 1.5rem;
                & .liwrap{
                    & .more{
                        width: 2.5rem;
                    }
                    & .picto_wrap{
                        width: 60px;
                        height: 50px;
                        & img{width: 100%;height: 100%;object-fit: contain;}
                    }
                }
            }
            & :hover .more{
                transform: rotate(180deg);
                transform-box: fill-box;
                transform-origin: center;
            }
        }
        & li:active{background: rgba(0, 64, 151, 0.05);transform: scale(1.05);}
    }
    .s2_box{
        border-radius: 1.8rem;
        padding: 2rem 1.5rem;
        & a{
            background: url('../img/s2_bg.png') no-repeat right  bottom / 50%;
            & .more{
                gap: 1rem;
                font-size: 1.7rem;
                & img {
                    width: 25px; 
                }
                }
            }
    }
    .sec3{
        & .s3_wrap{
            gap: 2rem;
            & .left_deco{
                /* justify-content: flex-end; */
                & .logo_bg{display: none;}
                & .more{
                    gap: 1rem;
                    font-size: 1.7rem;
                    & img {
                        width: 25px;;
                    }
                }
            }
            & ul{
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                & li {
                    border: 1.5px solid #004097;
                    border-radius: 1rem;
                }
            }
        }
    }
    .sec4 .s4_wrap {
        gap: 1rem;
    }
    .sec4 .pagenation li{
        width: 100%;
        font-size: 1.8rem;
        font-weight: 800;
        padding: 0.5rem;
        border-radius: 1rem;
    }

}
@media (min-width:0px) and (max-width:310px){

    
}