.main_station{
    width: 100%;
    height: 980px;
}

.main_station .img_box{
    height: 100%;
}
.main_station .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.main_station .bn_pc{
    display: block;
}
.main_station  .bn_m{
    display: none;
}
/*  */
/* swiper */
.main_station .swiper-pagination-bullet-active {
    /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
    background: var(--swiper-pagination-color, #0c2e86);
}
.main_station .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 5%);
    color: #0c2e8689;
}
.main_station .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 5%);
    color: #0c2e8689;
}


/* tour */
.gallery-slider{
    /* max-width: 900px; */
    width: 100%;
    margin: 0 auto;
}
/* .gallery-single>div{
    aspect-ratio: 4/3;
    background: #000;
} */
.gallery-slider img{
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.gallery-slider .gallery-single{
    overflow: hidden;
    margin-bottom: 2px;
    
}
.gallery-slider .gallery-single .slick-arrow{
    font-size: 0;
    border: none;
    border-radius:50% ;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border:2px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}
.gallery-slider .gallery-single .slick-arrow.slick-prev  {
    background: rgba(0, 0, 0, 0.1) url('../img/arr_prev.png') no-repeat 50% 50% / 70%;
    left: 10%;
}
.gallery-slider .gallery-single .slick-arrow.slick-next {
    background:  rgba(0, 0, 0, 0.1) url('../img/arr_next.png') no-repeat 50% 50% / 70%;
    right: 10%;
}
.gallery-slider .gallery-nav .slick-slide{
    /* height: 99px; */
    overflow: hidden;
    background: #000;
    margin-right: 2px;
    cursor: pointer;
}
.gallery-slider .gallery-nav .slick-slide.slick-current img{
    opacity: 1;
}
.gallery-slider .gallery-nav .slick-slide img{
    opacity: .6;
}
.slick-initialized .slick-slide{margin: 0 5px;}
/* below 1500 */
@media screen and (max-width: 1500px){

    .main_station{
        aspect-ratio: 4/3;
        height: auto;
        max-height: 800px;
    }

}

/* below 1024 */
@media screen and (max-width: 1024px){

    .main_station{
        aspect-ratio: 5/6;
    }
    .main_station .img_box .bn_pc{
        display: none;
    }
    .main_station .img_box .bn_m{
        display: block;
    }

}

/* below 768 */
@media screen and (max-width: 768px){

    /* .sub-slider .slick-slide img{
        height: 400px;
    } */
}

/* below 540 */
@media screen and (max-width: 540px){

    /* .main-visual > .main-slider .slider-visual .img_box .bn_pc{
        display: none;
    } */
    /* .section1 p{
        font-size: 24px;
    } */

}